h2{
	text-align: center;
}
input{
	margin-left: 10%;
	width: 80%;
	text-align: center;
}
#header{
	padding-bottom: 30px;
	padding-top: 20px;
	margin: none;
	background-color: orange;
}
ul li {
	text-align: center;
	list-style-type: none;
	padding-bottom: 20px;
	padding-top: 15px;
	width: 100%;
	margin: 10px 10px 10px 10px;

	font-size: 20px;
	background-color: lightgrey;
	display: block;


}
#submit{
	size: 30px;
	background-color: grey;
	cursor: pointer;

}
